@import "@avtopro/button/dist/style.css";
@import "@avtopro/modal/dist/style.css";
@import "@avtopro/placeholder/dist/style.css";
@import "@avtopro/select/dist/style.css";
@import "@avtopro/text-input/dist/style.css";
@import "@avtopro/tooltip/dist/style.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
